<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a></a>
        </li>
        <li>
            <a></a>
        </li>
    </ul>
</nav>

<div>
    <div>
        <div>
            <a>
                <img src="">
            </a>
            <div>
                <h6>
                    <a></a>
                </h6>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <div>
            <p>
                <a>
                    <small></small>
                </a>
            </p>
        </div>
        {% if current_user == photo.author %}
            <div>
                <form>

                </form>
            </div>
        {% endif %}
        <div>
            <p>

            </p>
        </div>
    </div>
</div>