{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}" type="text/css">
    {{ dropzone.style('margin: 20px 0; border:2px dashed #0087F7; min-height:400 px;') }}
{% endblock %}

{% block content %}
    <div>
        <h1>Upload</h1>
    </div>
    <div>
        <div>
            {{ dropzone.create(action='main.upload') }}
            <a></a>
        </div>
    </div>
{% endblock %}


{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    {{ dropzone.config() }}
{% endblock %}