{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <div>
            <img>
        </div>
        <div>
            <div>
                <div><h4>Login to Album Wall</h4></div>
                <div>
                    {{ render_form(form) }}
                    <hr>
                    <p><a>Register new account</a></p>
                    <p><a>Forget password</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}