{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Register{% endblock %}

{% block content %}
    <div>
        <div>
            <div>
                <img>
            </div>
            <div>
                <div>
                    <div><h4>Welcome to Album Wall!</h4></div>
                    <div>
                        {{ render_form(form) }}
                        <hr>
                        <small><a>Click here to log in!</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}